fieldset{
    width: 550px;
    height: 300px;
    background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border-radius: 1%;
}

.img1{
    width: 600px;
    height: 100px;
}

.img2{
    width: 120px;
    height: 150px;
    border-radius: 10%;
}

hr{
    border-color: rgba(255, 0, 0, 0.525);
}

.img3{
    width: 440px;
    height: 160px;
    padding-left: 30px;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    padding: auto;
}


